In [1]:
# youtube and watch scrum videos
# look for applications of ML
# Borges map

In [36]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/SunnyMarkLiu/Kaggle-House-Prices/master/data/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
df_small = df.select_dtypes(include = ["int64","float64"])

In [38]:
df_small.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [39]:
df_small = df_small.dropna()
x = df_small.drop("SalePrice",1)
y = df_small["SalePrice"]
print(x.shape)

print(x.shape)

(1121, 37)
(1121, 37)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13700\2718830302.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df_small.drop("SalePrice",1)

In [40]:
# Ignore

# from sklearn.preprocessing import StandardScaler
# from sklearn.decomposition import PCA
# import numpy as np
# import matplotlib.pyplot as plt

# scaler = StandardScaler()
# scaled = scaler.fit_transform(x)

# pca = PCA()
# changed = pca.fit_transform(scaled)

# cum = np.cumsum(pca.explained_variance_ratio_)
# plt.plot(cum)
# plt.show()

# dt = pd.DataFrame(changed[:,1],columns = ["C1"])
# dt["price"] = y
# import seaborn as sns
# dt.head()
# sns.regplot(data = dt,y = "C1",x = "price")

In [41]:
#sns.pairplot(df_small)

In [42]:
# creat a train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
print(x.shape,y.shape,x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1121, 37) (1121,) (784, 37) (337, 37) (784,) (337,)

In [57]:
# initialize a regression model
from sklearn.linear_model import LinearRegression
from sklearn.svm import LinearSVR
from sklearn.ensemble import GradientBoostingRegressor as GBR
model = LinearRegression()

In [58]:
model1 = LinearSVR()
model1 = GBR()

In [59]:
# train the model
model.fit(x_train, y_train)
model1.fit(x_train, y_train)

GradientBoostingRegressor()

In [60]:
# test the mode
from sklearn.metrics import mean_absolute_error as mae
pred = model1.predict(x_test)
pred[:10]

array([144574.45706276, 131645.09722347, 118057.15365925, 173752.56945408,
       271454.58699346, 336009.43919283, 113775.09702768, 128584.87612479,
       412133.78562234, 248509.43753198])

In [61]:
mae(pred,y_test)

18802.145581723315